.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 10%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  

.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 500px !important
.banner-principal__img
  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal

.barra-avance__boton--regresar span 
    color: white !important
 


// subtitulos

.subt
  position: relative
  width: fit-content
  padding-right: 20px
  &::before
    content: ''
    position: absolute
    background-color: #37840F
    border-radius: 200px
    width: 100%
    height: 75%
    top: 7px
    z-index: 0
  h3, img
    z-index: 999  
    position: relative
  @media (max-width: $bp-max-xs)
    &::before
      height: 100%
      top: 1px

.subt2
  position: relative
  width: fit-content
  padding-right: 20px
  &::before
    content: ''
    position: absolute
    background-color: #37840F
    border-radius: 200px
    width: 100%
    height: 75%
    top: 7px
    z-index: 0
  h3, img
    z-index: 999  
    position: relative
  @media screen and (min-device-width: 767px) and (max-device-width: 1180px)
    &::before
      height: 107%
      top: -12px
    h3
      margin-left: 87px
      margin-top: -54px
      padding-bottom: 23px
  @media screen and (max-width: 767px)
    &::before
      height: 140%
      top: -24px
    h3
      margin-left: 2px
      margin-top: -9px
      padding-bottom: 4px

//fondos, bordes, imagenes

.img-t
  width: auto
  height: auto

.img-a
  display: block
  margin: auto

.borde-redondo
  border-radius: 25px

.borde-redondo-abajo
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px

.borde-redondo-arriba
  border-top-left-radius: 20px
  border-top-right-radius: 20px

.bgazulmateclaro
  background-color: #ECF6FC

.bggris
  background-color: #E6E6E6

.bgnaranjamate
  background-color: #FFE6C3

.bgamarilloclaro
  background-color: #FFF2E1

.bgamarilloclaro2
  background-color: #FFF8EF

.bgamarilloclaro3
  background-color: #FEF6D9

.bgverdemate
  background-color: #D6E6CE

.bgverde
  background-color: #37840F

.bgverdemate2
  background-color: #E9F2E5

.bgazulclaro
  background-color: #B8DCF3

.bgazulclaro2
  background-color: #DBEDF9

.bgpersonal1
  background: url('../assets/curso/t1/fondo1.svg')
  background-position: cover
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem  

.bgpersonal2
  background: url('../assets/curso/t4/fondo1.png')
  background-position: cover
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem  

.bgpersonal3
  background: url('../assets/curso/t3/fondo1.png')
  background-position: center
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem  

.bgpersonal4
  background: url('../assets/curso/t3/fondo3.png')
  background-position: cover
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem  



// otros

.bloque-texto-g.color-terciario
  background-color: #FED744

.tarjeta.color-primario
  background: url('../assets/curso/t3/fondo2.png')
  background-position: center



// viñetas

.fa-ol
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 20px
      font-size: 1.4rem

.fa-al
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 19px
      font-size: 1.4rem

.lista-ul--color li > i:first-of-type 
  color: #36769D

.lista-ul--color.marron li > i:first-of-type 
  color: #7E5F35

//   SlyderF

.circl-arrow .slyder-f__btn i
  font-size: 1.2rem
  background-color: #006EEF
  color: white
  height: 46px
  width: 46px
  padding: 5px
  border-radius: 500px
  display: flex
  justify-content: center
  align-items: center

// Tabs

.tabs-c__tab--active:active, .tabs-c__tab--active:focus, .tabs-c__tab--active:hover 
  background-color: white !important
  font-weight: bold

.tabs-c__tab
  background-color: white

.bgamarilloclaro2
  background-color: #FFF8EF

.tabs-a__tab 
  background-color:  #37840F
  color: white

.tabs-a__tab__text
  white-space: normal !important

// Slyder A

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #006EEF
  background-image: url('../assets/curso/t3/flecha.svg')

.slyder-a__bullets__item
  background-color: #AECD9E

.slyder-a__bullets__item--active 
  background-color: #37840F
  border-color: #37840F



// para que los botones no se estiren en mobile

.slyder-a__bullets__item--active 

@media (max-width: 768px) 
    .slyder-a__bullets__item 
        width: 11px
        height: 11px
        margin: 0px 0.5px

@media (max-width: 768px)  
  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    width: 30px
    height: 30px

// Acordion

.acordion__accion__btn--a
  background-color:  #006EEF
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,.3)
  color: white

.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #FFE6C3
  h3
    color: black

// tarjeta avatar

.avatar1
  position: absolute
  bottom: -10px
  right: -10rem
  z-index: 1

.avatar2
  position: absolute
  bottom: 16px
  right: -10rem
  z-index: 1

.mover
  margin-left: -170px
  @media screen and (min-device-width: 767px) and (max-device-width: 1180px)
    margin-left: 0px
  @media screen and (max-width: 767px)
    margin-left: 0px
